.navContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  top: -12px;
  height: 60px;
  background: linear-gradient(#006824, #7aa737);
  z-index: 999;
}

.logoContainer {
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.logo {
  max-height: 100%;
  max-width: 100%;
}

.navigation {
  font-size: 18px;
  display: flex;
  list-style: none;
  font-family: "IBM Plex Sans", sans-serif;
  justify-content: center;
  gap: 40px;
  color: whitesmoke;
  margin: 0;
  padding-top: 10px;
  padding-left: calc(1rem);
}

.liNavBar:hover {
  transform: scale(1);
  color: #ffffff;
}

.liSubMenu {
  color: whitesmoke;
}

.liSubMenu:hover {
  color: #ff7b00;
}

.navigation li {
  margin: 0;
  padding: 0;
  position: relative;
}

.navigation li::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  width: 0;
  height: 3px;
  background-color: #f2921ddf;
  color: #f2921ddf;
  transition: all 0.3s ease-in-out;
}

.navigation li:hover::before {
  width: calc(100% - 20px);
}

.navigation a {
  display: inline-block;
  padding: 1rem;
  font-weight: bold;
}

.menuButton {
  display: none;
}

.submenu {
  background-color: #006824;
  position: absolute;
  top: 50px;
  width: 190px;
  padding: 0;
  margin: 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.submenu.show {
  display: block;
}

.submenu li {
  list-style: none;
}

@media screen and (max-width: 768px) {
  .navigation {
    display: none;
  }

  .menuButton {
    display: block;
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 87);
    cursor: pointer;
  }
}
