.navContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #06283d;
  z-index: 999;
}

.logoContainer {
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.logo {
  max-height: 100%;
  max-width: 100%;
}

.navigation {
  font-size: 17px;
  display: flex;
  list-style: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  justify-content: center;
  gap: 32px;
  color: #47b5ff;
  margin: 0;
  padding: 0;
  padding-left: calc(1rem);
}

.navigation li {
  margin: 0;
  padding: 0;
}

.navigation a {
  display: block;
  padding: 1rem;
  transition: color 0.3s;
  font-weight: bold;
}

.navigation a:hover {
  color: #dff6ff;
}

.navigation a:hover {
  transform: scale(1.1);
}

.menuButton {
  display: none;
}

.submenu {
  background-color: #06283d;
  position: absolute;
  top: 50px;
  width: 200px;
  padding: 0;
  margin: 0;
  border-radius: 8px;
}

.submenu.show {
  display: block;
}

.submenu li {
  text-decoration: none;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .navigation {
    display: none;
  }

  .menuButton {
    display: block;
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 87);
    cursor: pointer;
  }
}
