.overflowContainer {
  overflow: hidden;
}

.h2Title {
  color: #01233a;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  text-shadow: 1px 1px 3px #01233a;
  animation-duration: 1.5s;
  animation-name: slidein;
}

.imageWrapper {
  position: relative;
}

.imageTitle {
  background-color: #dff6ff;
  color: #01233a;
  font-family: "IBM Plex Sans", sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  padding: 4px;
  border-radius: 10px;
  font-size: 24px;
  animation-duration: 2.5s;
  animation-name: showSlow;
}

.pImgDescription {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  text-align: center;
  width: 1200px;
}

.turisticList {
  list-style: none;
  margin: 0;
  padding: 0;
  animation-duration: 2.5s;
  animation-name: showSlow;
}

.turisticPoint {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.imgTuristicPoint {
  width: 1200px;
  height: 300px;
  object-fit: cover;
  box-shadow: 1px 1px 8px black;
  border-radius: 15px;
}

.containerItemList {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes showSlow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
