.containerH2 {
  overflow: hidden;
}

.h2 {
  color: #01233a;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  text-shadow: 1px 1px 3px #01233a;
  animation-duration: 1.5s;
  animation-name: slidein;
}

.imgSacantaToday {
  display: inline-block;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  max-height: 90%;
  max-width: 90%;
  animation-duration: 1.5s;
  animation-name: slidein;
}

.divImgContainer {
  text-align: center;
}

.cardContainerOverflow {
  overflow: hidden;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  animation-duration: 1.5s;
  animation-name: showSlow;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes showSlow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
