.h2 {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.imgSacantaToday {
  display: inline-block;
  max-width: 80%;
}

.divImgContainer {
  text-align: center;
}
