.containerOverflow {
  overflow: hidden;
}

.socialMedia {
  font-size: 30px;
  display: flex;
  list-style: none;
  justify-content: flex-end;
  gap: 32px;
  color: #ffffff;
  padding-left: calc(1rem);
  padding: 20px;
  animation-name: slidein;
  animation-duration: 1.5s;
}

.liNavigSocialMedia:hover {
  transform: scale(1.2);
}

.socialMedia ul {
  background: linear-gradient(#006824, #7aa737);
  padding: 5px;
  padding-left: 24px;
  border-radius: 15px;
}

.socialMedia li {
  display: inline-block;
  margin-right: 20px;
  transition: all 0.3s;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
