.overflowContainer {
  overflow: hidden;
}

.h2Title {
  font-size: 30px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  animation-duration: 1.5s;
  animation-name: slidein;
}

.imgInterestPoints {
  display: inline-block;
  max-width: 80%;
}

.containerImg {
  text-align: center;
  animation-duration: 2.5s;
  animation-name: showSlow;
}

/* CONTAINER LIST */
.containerList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleDiv {
  text-align: center;
}

.divRestaurantes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes showSlow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
